
        p {
            color: blue;
            text-align: center;
            background-color: aquamarine;
        }

        a {
            color: black;
            align-items: center;
        }
    