.myClass-enter {
  opacity: 0;
}

.myClass-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.myClass-exit {
  opacity: 1;
}

.myClass-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}